.ctnLivros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.amazonCard {
    background-color: #fff;
    border: 2px solid #E47911;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.amazonCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.amazonCard h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #E47911;
}

.amazonCard p {
    font-size: 16px;
    color: #444;
}

.pag {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagButton {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 25px;
    background-color: #E47911;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagButton:hover {
    background-color: #E47911;
}

.pagButton.active {
    background-color: #E47911;
}

.pagButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.table th {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #E47911;
}

.table td {
    font-size: 16px;
    color: #333;
}

.table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.table tbody tr:hover {
    background-color: #fef2e8;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationButton {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 25px;
    background-color: #E47911;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.paginationButton:hover {
    background-color: #d16900;
}

.paginationButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.paginationButton:first-child {
    background-color: #e1a734;
}

.paginationButton:last-child {
    background-color: #E47911;
}